# macOS system files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment and config files
.env
.env.local
.env.*.local

# Virtual envs
env/
venv/
ENV/
.venv/

# Node (if you ever add a React front-end here)
node_modules/

# Python byte-code / caches
__pycache__/
*.py[cod]

# Model artefacts
*.pkl
*.joblib

# IDE / Editor junk
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/
